<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">

    <base href="/" />

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="assets/script.js"></script>

    <link rel="stylesheet" href="assets/style.css">

    <link rel="shortcut icon" href="assets/uu-logo.ico">
</head>

<body>
    <div id="main">
        <div id="header">
            <img src="https://www.uu.se/digitalAssets/242/c_242915-l_3-k_svg-uu-logo.svg" />
            <h1>UU Verification Group</h1>
        </div>
        <div id="body">
            <div id="nav">
                <a href="index.html">Home</a>
                <a href="people/parosh/parosh.html">Parosh Aziz Abdulla</a>
                <a href="people/parosh/publications.html" class="sub">↪ Publications</a>
                <a href="people/hooman/hooman.html">Hooman Asadian</a>
                <a href="people/hooman/publications.html" class="sub">↪ Publications</a>
                <a href="people/stephan/stephan.html">Stephan Spengler</a>
                <a href="people/stephan/publications.html" class="sub">↪ Publications</a>
            </div>
            <div id="content">
                {{ content }}
            </div>
        </div>
    </div>
    <div id="footer-left"></div>
    <div id="footer-right"></div>
</body>

</html>