<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">

    <base href="/uu-verification.github.io/" />

    <link rel="stylesheet" href="assets/style.css">
    <link rel="shortcut icon" href="assets/uu-logo.ico">
</head>

<body>
    <div id="main">
        <div id="header">
            <img src="https://www.uu.se/digitalAssets/242/c_242915-l_3-k_svg-uu-logo.svg" />
            <h1>UU Verification Group</h1>
        </div>
        <div id="body">
            <nav id="nav">
                {% assign href = page.url | remove_first: "/" %}

                {% for node in site.data.navigation %}
                <a href="{{node.href}}" {% if href==node.href %}class="active" {% endif %} title="{{node.title}}">{{node.title}}</a>

                {% assign temp = node.href | prepend: "/" | remove_first: page.dir %}
                {% unless temp contains "/" %}
                {% for sub in node.sublinks %}
                <a href="{{sub.href}}" class="sub {% if href == sub.href %}active{% endif %}" title="{{sub.title}}">↪ {{sub.title}}</a>
                {% endfor %}
                {% endunless %}

                {% endfor %}
            </nav>
            <div id="content">
                {{ content }}
            </div>
        </div>
    </div>
    <div id="footer-left"></div>
    <div id="footer-right"></div>
</body>

</html>